@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
:root {
  --primary: #1f2839 !important;
  --secondary: #b69d74 !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  height: 60px;
  padding: 10px;
  position: sticky !important;
  background-color: #f5f5ef;
  top: 0;
  z-index: 100;
  cursor: pointer;
}
.navbar h2 {
  color: var(--primary);
}
.navbar_icon {
  border: 3px solid var(--primary);
  border-radius: 6px;
  padding: 4px;
}
.navbar_icon:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
.body {
  display: flex;
  width: 100vw;
}
.sidebar {
  /* flex: 0 0 10%; */
  background-color: var(--secondary);
  padding: 20px;
  width: 20%;
}
.main {
  /* flex: 0 0 80%; */
  background-color: var(--primary);
  padding: 20px;
  width: 80%;
}
.main_other {
  flex: 0 0 100%;
  background-color: var(--primary);
  padding: 20px;
}
.card-wrapper {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  margin: 1em;
  flex: 0 0 20%;
  text-transform: uppercase;
}
.sidebar > h1 {
  border-bottom: 2px solid gray;
  margin: 0;
  padding: 0.5em;
  font-size: 1.5em;
}
input {
  border-radius: 10px;
  padding: 1em;
  outline: none;
  box-shadow: 2px 2px 2px var(--secondary);
}

@media only screen and (max-width: 600px) {
  .navbar_icon {
    display: none;
  }
}
